/* 
.Apppage {
    margin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 5%;
    padding: center;
    background-color: rgb(250, 223, 250);
  }
    
  table {
    border: 2px solid rgb(7, 7, 7);
    width: 800px;
    height: 200px;
  }
    
  th {
    border-bottom: 1px solid rgb(7, 7, 7);
  }

  tr {
    border: 1px solid rgb(7, 7, 7);
  }
    
  td {
    text-align: center;
  } */