.Reg {
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    margin: center;
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 5%;
    padding: center;
    border-radius: 7%;
  }

  .form{
    text-align: center;
  }